{% extends "base.html" %}
{% block title %}予約{% endblock %}

<body>
{% block main %}
<h2>{{ restaurant.name }}の予約</h2>
<form method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="id_date">予約日</label>
    {{ form.date }}
  </div>
  <div class="form-group">
    <label for="id_time">予約時間</label>
    {{ form.time }}
  </div>
  <div class="form-group">
    <label for="id_number_of_people">人数</label>
    {{ form.number_of_people }}
  </div>
  <button type="submit" class="btn-primary">予約する</button>
</form>
{% endblock %}
</body>
